docs/n8n-subworkflow-tool-router.json
{
  "name": "DashAdmin Tool Router",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "dashadmin-tool-router" },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "wh-tool-trigger",
      "name": "Tool Trigger",
      "webhookId": "dashadmin-tool-router"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            { "leftValue": "={{ $('Tool Trigger').item.json.body.tool }}", "rightValue": "getRevenue", "id": "cond-revenue", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } },
            { "id": "cond-shifts", "leftValue": "={{ $('Tool Trigger').item.json.body.tool }}", "rightValue": "getShiftsSummary", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } },
            { "id": "cond-employees", "leftValue": "={{ $('Tool Trigger').item.json.body.tool }}", "rightValue": "getEmployees", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } },
            { "id": "cond-employee-hours", "leftValue": "={{ $('Tool Trigger').item.json.body.tool }}", "rightValue": "getEmployeeHours", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } },
            { "id": "cond-select-club", "leftValue": "={{ $('Tool Trigger').item.json.body.tool }}", "rightValue": "selectClub", "operator": { "type": "string", "operation": "equals", "name": "filter.operator.equals" } }
          ],
          "options": { "caseSensitive": true }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [200, 0],
      "id": "route-tool",
      "name": "Route Tool"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/revenue",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            { "name": "clubId", "value": "={{ $('Tool Trigger').item.json.body.clubId }}" },
            { "name": "period", "value": "={{ $('Tool Trigger').item.json.body.period }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, -200],
      "id": "call-revenue",
      "name": "Call Revenue"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/shifts-summary",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            { "name": "clubId", "value": "={{ $('Tool Trigger').item.json.body.clubId }}" },
            { "name": "period", "value": "={{ $('Tool Trigger').item.json.body.period }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, -100],
      "id": "call-shifts",
      "name": "Call Shifts"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/employees-list",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            { "name": "clubId", "value": "={{ $('Tool Trigger').item.json.body.clubId }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 0],
      "id": "call-employees",
      "name": "Call Employees"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/employee-hours",
        "method": "GET",
        "queryParameters": {
          "parameters": [
            { "name": "employeeId", "value": "={{ $('Tool Trigger').item.json.body.employeeId }}" },
            { "name": "period", "value": "={{ $('Tool Trigger').item.json.body.period }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 100],
      "id": "call-employee-hours",
      "name": "Call Employee Hours"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/select-club",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clubId\": \"{{ $('Tool Trigger').item.json.body.clubId }}\"\n}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 200],
      "id": "call-select-club",
      "name": "Call Select Club"
    }
  ],
  "connections": {
    "Tool Trigger": { "main": [[{ "node": "Route Tool", "type": "main", "index": 0 }]] },
    "Route Tool": { "main": [
      [{ "node": "Call Revenue", "type": "main", "index": 0 }],
      [{ "node": "Call Shifts", "type": "main", "index": 0 }],
      [{ "node": "Call Employees", "type": "main", "index": 0 }],
      [{ "node": "Call Employee Hours", "type": "main", "index": 0 }],
      [{ "node": "Call Select Club", "type": "main", "index": 0 }]
    ]}
  },
  "active": true,
  "settings": { "executionOrder": "v1" },
  "versionId": "subworkflow-v1",
  "id": "dashadmin-tool-router",
  "tags": ["dashadmin", "tool", "router"]
}