docs/n8n-dashadmin-workflow.json
{
  "name": "DashAdmin AI Assistant",
  "nodes": [
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-max.maxTrigger",
      "typeVersion": 1,
      "position": [6048, 4960],
      "id": "trigger-max",
      "name": "Max Trigger",
      "webhookId": "dashadmin-ai-trigger"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/bot/context?messenger_user_id={{ $('Max Trigger').item.json.message.recipient.user_id }}&messenger_type=N8N",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6272, 4960],
      "id": "get-user-context",
      "name": "Get User Context"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Get User Context').item.json.error }}",
              "rightValue": "User not linked",
              "id": "cond-notlinked",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [6480, 4960],
      "id": "if-not-linked",
      "name": "If User Not Linked"
    },
    {
      "parameters": {
        "userId": "={{ $('Max Trigger').item.json.message.recipient.user_id }}",
        "text": "Привет! Я DashAdmin AI.\n\nЧтобы начать:\n1. Зайдите в личный кабинет DashAdmin\n2. Нажмите Профиль → Интеграции\n3. Нажмите 'Получить код'\n\nОтправьте 6-значный код в чат.",
        "additionalFields": {}
      },
      "type": "n8n-nodes-max.max",
      "typeVersion": 1,
      "position": [6704, 4832],
      "id": "send-link-request",
      "name": "Send Link Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-prompt",
              "name": "prompt",
              "value": "={{ $('Max Trigger').item.json.message.body.text }}",
              "type": "string"
            },
            {
              "id": "set-session-id",
              "name": "sessionId",
              "value": "=session_{{ $('Max Trigger').item.json.message.recipient.user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6704, 4992],
      "id": "prepare-data",
      "name": "Prepare Data"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [6464, 5280],
      "id": "chat-memory",
      "name": "Chat Memory"
    },
    {
      "parameters": {
        "model": "qwen/qwen3.5-flash-02-23",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [6672, 5232],
      "id": "openrouter-model",
      "name": "OpenRouter Model"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Get User Context').json.available_clubs.length + $('Get User Context').json.employee_clubs.length }}",
              "rightValue": 1,
              "id": "cond-multiclub",
              "operator": {
                "type": "number",
                "operation": ">",
                "name": "filter.operator.gt"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [6848, 5248],
      "id": "check-multiple-clubs",
      "name": "If Multiple Clubs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "build-buttons",
              "name": "keyboard",
              "value": "=[\n  {{ $('Get User Context').json.available_clubs.concat($('Get User Context').json.employee_clubs).map(c => '{\"text\":\"' + c.name + '\",\"data\":\"selectClub:' + c.id + '\"}').join(',') }}\n]",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [7024, 5248],
      "id": "build-club-buttons",
      "name": "Build Club Buttons"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $('Get User Context').json.selected_club }}",
              "rightValue": null,
              "id": "cond-need-select",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and",
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [7168, 5248],
      "id": "check-no-club",
      "name": "If No Club Selected"
    },
    {
      "parameters": {
        "userId": "={{ $('Max Trigger').item.json.message.recipient.user_id }}",
        "text": " У вас несколько клубов. Выберите клуб:",
        "additionalFields": {}
      },
      "type": "n8n-nodes-max.max",
      "typeVersion": 1,
      "position": [7392, 5184],
      "id": "send-club-select",
      "name": "Send Club Selection"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=КОНТЕКСТ:\n{{ $('Get User Context').json | json }}\n\nЗАПРОС: \"{{ $('Prepare Data').item.json.prompt }}\"",
        "options": {
          "systemMessage": "=Ты — дружелюбный AI-ассистент для владельцев киберклубов.\nКонтекст содержит: user, selected_club, available_clubs, employee_clubs.\n\nТы имеешь доступ к следующим инструментам (HTTP endpoints):\n\n1. getRevenue - получить выручку\n   GET /api/ai-tools/revenue?clubId={clubId}&period={period}\n   period: today, yesterday, last7days, last30days, this_month\n\n2. getShiftsSummary - получить сводку по сменам  \n   GET /api/ai-tools/shifts-summary?clubId={clubId}&period={period}\n\n3. getEmployees - получить список сотрудников\n   GET /api/ai-tools/employees-list?clubId={clubId}\n\n\n4. getEmployeeHours - получить часы работы сотрудника\n   GET /api/ai-tools/employee-hours?employeeId={employeeId}&period={period}\n\n5. selectClub - выбрать клуб\n   POST /api/ai-tools/select-club с body {clubId: number}\n\nФОРМАТЫ ОТВЕТОВ:\n- Выручка: 📊 [сумма] ₽ | Смен: [число]\n- Смены: 📅 [число] смен, [часы] часов\n- Сотрудники: 👥 [список]\n\nПРАВИЛА:\n1. Если selected_club = null и клубов > 1 — верни buttons для выбора\n2. Если clubId не передан — используй selected_club\n3. Если данных нет — \"Нет данных за период\"\n\nДля кнопок выбора клуба верни:\n{\"output\": \"текст\", \"buttons\": [{\"text\": \"Клуб\", \"data\": \"selectClub:ID\"}]}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [6912, 4960],
      "id": "ai-agent",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/revenue",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [7216, 5488],
      "id": "tool-revenue",
      "name": "getRevenue"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/shifts-summary",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [6752, 5488],
      "id": "tool-shifts",
      "name": "getShiftsSummary"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/employees-list",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [7568, 4928],
      "id": "tool-employees",
      "name": "getEmployees"
    },
    {
      "parameters": {
        "url": "https://www.mydashadmin.ru/api/ai-tools/employee-hours",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [6896, 5488],
      "id": "tool-employee-hours",
      "name": "getEmployeeHours"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.mydashadmin.ru/api/ai-tools/select-club",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Messenger-Type",
              "value": "N8N"
            },
            {
              "name": "X-Messenger-User-Id",
              "value": "={{ $('Max Trigger').item.json.message.recipient.user_id }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"clubId\": {{ $json.clubId }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [7056, 5488],
      "id": "tool-select-club",
      "name": "selectClub"
    },
    {
      "parameters": {
        "sendTo": "chat",
        "chatId": "={{ $('Max Trigger').item.json.message.recipient.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-max.max",
      "typeVersion": 1,
      "position": [7328, 4944],
      "id": "send-response",
      "name": "Send Response"
    }
  ],
  "connections": {
    "Max Trigger": {
      "main": [
        [
          {
            "node": "Get User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Context": {
      "main": [
        [
          {
            "node": "If User Not Linked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If User Not Linked": {
      "main": [
        [
          {
            "node": "Send Link Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Multiple Clubs": {
      "main": [
        [
          {
            "node": "Build Club Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Club Buttons": {
      "main": [
        [
          {
            "node": "If No Club Selected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If No Club Selected": {
      "main": [
        [
          {
            "node": "Send Club Selection",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getRevenue": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getShiftsSummary": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEmployees": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "getEmployeeHours": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "selectClub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "dashadmin-v14",
  "id": "dashadmin-ai-workflow",
  "tags": ["dashadmin", "ai", "assistant"]
}